h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1d2d44;
  line-height: 45px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #748cab;
  line-height: 30px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.highlight {
  font-weight: 700;
}

.article .highlight {
  color: #f44336;
  font-weight: 700;
}
